/*testimonial*/
.testimonial-area {
  background: url(https://srmahour.github.io/custom-testimonial-slider-and-blog/images/testimonial-bg.jpg)
    no-repeat;
  padding: 30px 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
.testimonial-area p {
  color: #000;
  font-weight: 500;
}
.testimonial-area .heading h2 {
  color: #000;
}
.testimonial {
  padding: 20px;
  background: #fff;
  position: relative;
  transform: scale(0.8);
  padding-top: 100px;
  margin-top: 100px;
  transition: all 0.3s linear;
  border-radius: 4px;
}
.testimonials
  .slick-slide.slick-current.slick-active.slick-center
  .testimonial {
  transform: scale(1);
}
.slick-slide {
  /* max-width: 285px !important; */
}
.slick-slide img {
  width: 100% !important;
  min-height: 265px;
}
.author-img {
  position: absolute;
  width: 150px;
  max-height: 150px;
  border-radius: 200px;
  overflow: hidden;
  border: 5px solid #fff;
  top: -75px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.author-quote h4 {
  font-family: 'Montserrat', Alternates;
  letter-spacing: 0.5px;
}
.author-quote {
  text-align: center;
}
.author-quote blockquote i {
  color: var(--brend-color);
  font-size: 14px;
  font-weight: 400;
  padding: 0 5px;
}
.author-quote blockquote {
  line-height: 30px;
  color: #676767;
  margin: 15px 0;
}
ul.slick-dots li button {
  font-size: 0;
  height: 20px;
  width: 20px;
  padding: 0;
  border-radius: 100px;
  border: 0;
  background: #fff;
  /* background: var(--brend-color); */
  /* border: 2px solid #fff; */
  transition: all 0.3s ease;
}
ul.slick-dots li {
  display: inline-block;
  margin: 0 10px;
}
ul.slick-dots {
  /* margin-top: -30px !important; */
  position: relative;
  top: -40px;
  z-index: 999;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
ul.slick-dots li.slick-active button {
  background: var(--brend-color);
  scale: 1.1;
}
.slick-arrow:after {
  content: '\f053';
  font-family: 'FontAwesome';
  font-size: 22px;
}
.slick-arrow {
  position: absolute;
  /* top: 0; */
  bottom: 0;
  height: 40px;
  width: 40px;
  font-size: 0;
  margin: auto;
  border: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  cursor: pointer;
}
.slick-next.slick-arrow {
  left: inherit;
  right: 200px;
  bottom: -100px;
}
.slick-next.slick-arrow:after {
  content: '\f054';
}
.testimonials .slick-list.draggable {
  padding: 0 20px !important;
}
/*end*/

.heading h2 {
  position: relative;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  padding: 0 0 10px;
  color: #231f20;
}
.heading h2:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 150px;
  background: #ffbe00;
  left: 0;
  right: 0;
  bottom: 1px;
  margin: auto;
}
.heading h2:after {
  content: '';
  height: 3px;
  width: 50px;
  background: #3c377b;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}
.heading p {
  color: #000;
}
.heading {
  text-align: center;
  padding: 20px 0;
  max-width: 750px;
  margin: 0 auto;
}
.img-fluid {
  width: 100%;
}

.slick-prev {
  background-image: url(../images/arrow_prev.svg);
}
.slick-prev:hover {
  background-image: url(../images/arrow_prew_hover.svg);
}
.slick-next {
  background-image: url(../images/arrow_next.svg);
}
.slick-next:hover {
  background-image: url(../images/arrow_next_hover.svg);
}
.slick-prev,
.slick-next {
  right: 350px;
  bottom: -100px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev::after,
.slick-next::after {
  display: none;
}
.slider_container {
  position: relative;
  right: 0;
  width: 899px;
  margin: 0 auto;
  margin-right: 0;
  position: relative;
  right: 0;
  padding-bottom: 100px;
}

.author-quote h4 {
  color: #000;
}
.testimonials_text {
  width: 130px;
  position: relative;
  bottom: -300px;
  left: 10%;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}
.testimonials_text a {
  color: var(--primery-text-color);
}
.testimonials_text a:hover {
  color: var(--brend-color);
}

/*media*/

@media (max-width: 1200px) {
  .slider_container {
    width: 100%;
  }
  .slick-arrow {
    display: none;
  }
}
@media (max-width: 480px) {
  .testimonials .slick-list.draggable {
    padding: 0 !important;
  }
  .testimonials_text {
    color: #fff;
    width: 200px;
    position: static;
    bottom: 0;
    left: 0;
    margin: 0 auto;
  }

  .slick-prev,
  .slick-next {
    scale: 0.5;
    left: 0;
    bottom: 40% !important;
  }

  .slick-next.slick-arrow {
    right: 0;
  }
  .slider_container {
    width: auto;
    position: static;
  }
}

.carousel_slider button {
  /* display: none !important; */
}
.gallery_img_wrapper img {
  width: 100%;
  padding: 10px;
}
.carousel_slider .slick-next {
  left: 40% !important;
}

/* .carousel_slider .slick-prev {
  right: 60% !important;
  background-image: url(../images/svg/gallery_arrow_prev.svg) !important;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel_slider .slick-next {
  right: 14% !important;
  background-image: url(../images/svg/gallery_arrow_next.svg) !important;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel_slider .slick-prev:hover {
  right: 60% !important;
  background-image: url(../images/svg/gallery_arrow_prev_hover.svg) !important;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel_slider .slick-next:hover {
  right: 14% !important;
  background-image: url(../images/svg/gallery_arrow_next_hover.svg) !important;
  background-repeat: no-repeat;
  background-position: center;
} */
