@import './utils/variables.scss';
@import './utils/visually-hidden';
@import './utils/./placeholders';
@import './utils/mixin';

@import './base/base';
@import './base/section';
@import './base/container';

@import './components/logo';
@import './components/button';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';
@import './components/mobile-menu';
@import './components/slider';
@import './layout/header';
@import './layout/hero';
@import './layout/technology';
@import './layout/service_section';
@import './layout/usa';
@import './layout/gallery';
@import './layout/about';
@import './layout/footer';
@import './layout/usa_cars';
@import './layout/case';
@import './layout/price';
@import './layout/service_page';
@import './components/animation';
