.case {
  background-color: #efefef;
  p {
    text-align: center;
  }
  &_list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    @include tablet {
      justify-content: space-between;
    }
  }
  &_wrapper {
    box-sizing: border-box;
    max-width: 300px;
    color: #000;
    text-align: center;
    background-color: #fff;
    margin-bottom: 30px;
    &_sub_title,
    h4 {
      @include font(16px, 500);
      font-style: normal;
      line-height: 140%; /* 36.4px */
      text-transform: uppercase;
      @include desktop {
        @include font(26px, 500);
        font-style: normal;
        line-height: 140%; /* 36.4px */
        text-transform: uppercase;
      }
    }
    @include mobile {
      max-width: 330px;
    }
    @include desktop {
      max-width: 360px;
    }
    &_total {
      display: flex;
      justify-content: space-between;
      padding: 20px 10px;
      border-top: 1px solid var(--brend-color);
      color: #00193e;
      &_hidden {
        text-align: start !important;
        padding: 10px;
        visibility: hidden;
        color: #878787;
      }
    }
    &_table {
      width: 100%;
      padding: 5px 10px;
      text-transform: uppercase;
      @include font(16px, 400);
      @include desktop {
        @include font(18px, 400);
      }
      &_td1 {
        color: #878787;
        padding: 5px 10px;
        padding-left: 0;
        padding-right: 40px;
      }
      &_td2 {
        color: #00193e;
        padding: 5px 10px;
        text-align: start;
      }
    }
  }

  ul.slick-dots {
    position: relative;
    top: -40px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li button {
      border: none;
      background-color: #fff;
      height: 20px;
      width: 20px;
      margin: 5px;
    }
    li.slick-active button {
      background: var(--brend-color);
      scale: 1.1;
    }
  }

  .slick-slide img {
    width: 100%;
    min-height: 285px;
    margin: 0 auto;
  }
  a {
    @include font(24px, 600);
    background-color: var(--brend-color);
    padding: 10px 20px;
    margin: 0 auto;
    color: var(--primery-text-color);
    border-radius: 4px;
  }
}
