.vivat-footer {
  background-image: url(../images/bg/footer_bg.jpg);
  background: {
    size: cover;
    repeat: no-repeat;
    position: center;
    color: #2f303a;
  }
  // background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 60px;
  display: block;
  text-align: center;
  @include tablet {
    .container {
      text-align: center;
      flex-wrap: wrap;
      gap: 60px;
      column-gap: 165px;
      justify-content: center;
    }
  }

  @include desktop {
    .container {
      align-items: baseline;
      column-gap: normal;
    }

    .button_container {
      justify-content: center;
    }
  }
  p {
    margin: 0 auto;
    max-width: 500px;
  }

  h2,
  h3,
  p {
    margin-bottom: 30px;
    font-weight: 500;
  }
  .menu-nav {
    justify-content: center;
  }
  h2 {
    margin-bottom: 60px;
  }
}

.footer-address {
  text-align: center;
  @include desktop {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  p {
    text-align: start;
    margin-bottom: 10px;
  }
}

.address {
  font-style: normal;
}

.address-nav-link {
  display: inline-block;
  line-height: 1.71;
  color: var(--primery-text-color);
}

.address-link {
  display: inline-block;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.9);
  transition: color var(--transition-dur-fun);

  &:hover,
  &:focus {
    color: var(--brend-color);
  }
}
.vivat-footer .menu-nav-list {
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
  gap: 20px;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.mobile_footer_menu {
  @include desktop {
    display: none;
  }
  a {
    color: var(--primery-text-color);
    text-transform: uppercase;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    li {
      margin: 10px;
    }
  }
}
@media (min-width: 320px) and (max-width: 363px) {
  .mobile_footer_menu {
    width: 280px;
  }
}
@media (min-width: 450px) and (max-width: 767px) {
  .mobile_footer_menu {
    width: 420px;
  }
}

.desktop_footer_menu {
  display: none;
  @include desktop {
    display: block;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px;
    a {
      text-transform: uppercase;
      padding: 5px;
    }
  }
}
.desktop_footer_menu a:hover {
  color: var(--brend-color);
}

.directory {
  text-transform: uppercase;
  color: var(--brend-color);
  &:hover {
    color: var(--primery-text-color);
  }
}

.footer_wrapper_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}
