.vivat-header {
  background: rgba(0, 25, 62, 0.3);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 16px;
  @include tablet {
    padding-top: 0;
    padding-bottom: 0;
  }
  &__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
  @include tablet {
    .container {
      display: flex;
      align-items: center;
    }

    & a:hover,
    & a:focus {
      color: var(--brend-color);
    }
  }
}

@include tablet {
  .menu-nav {
    display: flex;
    align-items: center;
  }
}

.menu-nav-list {
  display: none;
  @include tablet {
    display: flex;
    gap: 10px;
  }
  @include desktop {
    display: flex;
    gap: 30px;
  }
}

@include tablet {
  .menu-nav__link {
    @include font(12px, 400);
    display: inline-block;
    color: var(--primery-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-dur-fun);
    position: relative;
  }
}

@include desktop {
  .menu-nav__link {
    @include font(18px, 400);
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-dur-fun);
    position: relative;
  }
}

.list-contact {
  display: flex;
  gap: 5px;
  flex-direction: column;

  @include tablet {
    @include font(14px, 400);
    display: block;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}

.list-contact__item {
  margin-bottom: 10px;

  @include tablet {
  }
}

.list-contact-link {
  color: var(--primery-text-color);
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;

  @include tablet {
    font-size: 12px;
  }
  @include desktop {
    @include font(20px, 400);
    padding: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color var(--transition-dur-fun);
  }
}

@include tablet {
  .header-contact-phone,
  .header-contact-mail {
    margin-right: 10px;
    fill: currentColor;
  }
}
.open-mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  margin-right: 5px;
  img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
}
