.price {
  text-align: center;
  background: {
    image: url(../images/bg/price_bg.jpeg);
    size: cover;
    repeat: no-repeat;
    position: center;
    color: #2f303a;
  }

  &_accordion {
    @include desktop {
      display: none;
    }
  }
  h1 {
    margin-top: 250px;
    @include font(50px, 600);
    font-style: normal;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  p {
    font-style: normal;
    line-height: normal;
  }
  &_button_wrapper {
    text-align: center;
    margin-top: 50px;
    button {
      margin: 0 auto;
      background-color: var(--brend-color);
    }
  }
  &_list_content_wrapper {
    border-bottom: 1px solid var(--brend-color);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    @include desktop {
      text-transform: uppercase;
    }
    &_cost {
      width: 90px;
      text-align: start;
      @include tablet {
        width: 140px;
      }
    }
    p {
      max-width: 150px;
      padding: 0;
      @include font(10px, 400);
      @include mobile {
        max-width: 222px;
        @include font(12px, 400);
      }
      @include tablet {
        @include font(16px, 400);
        max-width: 80%;
      }
    }
  }
}

//   mobile accordion

.accordion {
  text-transform: lowercase;
  text-align: center;
  color: #000;
  &-item__header {
    text-transform: uppercase;
    border: 1px solid var(--brend-color);
    margin: 0;
    margin-bottom: -1px;
    padding: 10px 15px;
    cursor: pointer;
  }
  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
    padding: 0 10px;
  }
}

.active .accordion-item__header {
  color: var(--primery-text-color);
  background-color: var(--brend-color);
}

.accordion-item.active .accordion-content {
  max-height: 290px;
  overflow-y: auto;
  padding: 0 10px;
  border: 1px solid var(--brend-color);
  border-top: none;
  margin-bottom: -2px;
}
//   mobile accordion END

*:focus {
  outline: none;
}
.hidden {
  display: none;
}
.price_desktop {
  display: flex;
  justify-content: space-between;
}
.price_desktop_section {
  display: none;
  @include desktop {
    display: block;
  }
}
.content_description {
  width: 70%;
  padding-left: 50px;
}
