.project-list__card {
  display: block;
  transition: box-shadow var(--transition-dur-fun);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  @include tablet {
    justify-content: flex-start;
  }

  .card {
    padding: 20px 24px;
    background-color: #fff;
   
    // @include desktop {
    //   border-right: 1px solid #eeeeee;
    //   border-bottom: 1px solid #eeeeee;
    //   border-left: 1px solid #eeeeee;
    // }
  }
}

.project-list__item {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  box-sizing: border-box;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: 370px;
  }
}
.project-list__img {
  width: 100%;
  @include tablet {
    max-width: 354px;
  }
  @include desktop {
    max-width: 370px;
  }
}

.project-list__title {
  @include font(18px, 700);
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primery-text-color);
}

.project-item__paragraph {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.project-list__position {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-style: normal;
  @include font(18px, 400);
  line-height: 1.56;
  color: var(--color-text-dark-theme);
  overflow: auto;
  transform: translateY(101%);
  transition: transform var(--transition-dur-fun);

  .project-list__card:hover &,
  .project-list__card:focus & {
    transform: translateY(0);
  }
}
