.usa {
  background: url(../images/bg/usa_bg_mobile.png);
  background-size: auto;
  background-repeat: unset;
  background-position: bottom;
  background-color: #efefef;
  text-align: center;
  color: #000;
  .container {
    padding-left: 30px;
    padding-right: 30px;
    @include tablet {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @include tablet {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url(../images/bg/usa_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-attachment: fixed;
  }

  &_text_wrapper {
    color: #878787;
    text-align: start;
    padding: 20px;
    h3 {
      @include font(50px, 500);
      text-shadow: 0px 0px 1px var(--primery-text-color);
      margin-bottom: 20px;
    }
  }

  &_plan_wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-top: 20px;

    @include tablet {
      width: 270px;
    }

    @include desktop {
      width: 270px;
      height: 460px;
    }
    img {
      width: 100px;
      min-height: auto;
      margin-bottom: 20px;
      @include tablet {
        width: auto;
      }
    }
    h4 {
      margin-bottom: 20px;
      color: var(--brend-color);
      text-transform: uppercase;
      @include font(14px, 500);
      @include desktop {
        @include font(26px, 400);
      }
    }
    ul {
      margin-bottom: 50px;
    }
  }
  &_plan_paragraph {
    display: none;
    @include desktop {
      display: block;
    }
  }
  &_btn_read_more {
    margin-top: 50px;
    border-radius: 4px;
    padding: 10px 20px;
    color: #000;
    @include font(14px, 600);
    opacity: 0.9;
    background-color: var(--brend-color);
    &:hover {
      opacity: 1;
      color: var(--primery-text-color);
    }
  }
}
