.modal__cta-title {
  @include font(20px, 700);
  margin-bottom: 12px;
  text-align: center;
  line-height: 1.15;
  color: var(--primery-text-color);
}

.modal__label-title {
  display: block;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.modal__input-name,
.modal__input-phone,
.modal__input-mail {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: var(--primery-text-color);
  outline: none;
  transition: border-color var(--transition-dur-fun);

  &:focus-within {
    border-color: var(--brend-color);
  }
}

.modal__input-position {
  display: block;
  position: relative;
  margin-bottom: 10px;

  &:focus-within {
    fill: var(--brend-color);
  }
}

.modal__icon-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  margin: 11px;
  transition: fill var(--transition-dur-fun);
}

.user-name {
  display: block;
  margin-bottom: 10px;
}

.modal__input-coment {
  width: 100%;
  height: 120px;
  padding: 16px;
  outline: none;

  &:focus-within {
    border-color: var(--brend-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

textarea {
  display: block;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.polity {
  @extend%flex-just;
  text-align: left;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 30px;
  @include font(12px, 400);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  @include desktop {
    font-size: 14px;
  }
}

.checkbox-title {
  font-family: "Roboto";
  font-style: normal;
  @include font(14px, 400);
  line-height: 1.71;
  color: #757575;
}

.checkbox__link {
  color: var(--brend-color);
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primery-text-color);
  border-radius: 2px;

  .checkbox:checked + & {
    border-color: var(--brend-color);
    background-color: var(--brend-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
  }
}

.centre {
  align-items: center;
  justify-content: center;
  text-align: center;
}
