.modal {
  background: transparent;
  background-image: url(../images/svg/modal_bg_mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  padding-bottom: 50px;
  border-radius: 4px;
  text-align: center;
  @include mobile {
    padding-left: 15px;
    padding-right: 15px;

    padding-bottom: 50px;
  }

  @include tablet {
    padding: 40px;
    width: 80%;
    background-color: var(--brend-color);
  }

  @include desktop {
    padding: 40px;
    text-align: left;
    background-color: transparent;
    background-image: url(../images/svg/modal_bg.svg);
    width: 840px;
    padding-bottom: 100px;
    background-size: cover;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 450px) {
  .modal {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.modal__btn-close {
  zoom: 2;
  position: absolute;
  top: 0;
  right: 0;
  @extend%flex-just;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: none;
  padding: 0;
  transform: fill var(--transition-dur-fun);
}

.modal__close-icon {
  fill: #878787;
  transition: fill var(--transition-dur-fun);

  .modal__btn-close:hover &,
  .modal__btn-close:focus & {
    fill: var(--primery-text-color);
  }
}

.modal__cta-title {
  text-transform: uppercase;
}
