:root {
  --brend-color: #ff9800;
  --primery-text-color: #fff;
  --secondary-text-color: #757575;
  --color-text-dark-theme: #565c5f;
  --text-paragraph: 'Roboto', sans-serif;
  --color-icon: #afb1b8;
  --transition-dur-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
