.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
#scrollToTopBtn {
  background-color: var(--brend-color);
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
  color: var(--primery-text-color);
  border: none;
  border-radius: 50%;
  opacity: 0.9;
  transition: opacity 0.3s;
  scale: 1.2;

  justify-content: center;
  align-items: center;
}

#scrollToTopBtn:hover {
  opacity: 1;
}
